body{
   /* fallback for old browsers */
   background: #8f00ff;

   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, rgb(112, 86, 140), rgb(174, 162, 167));
 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, rgb(112, 86, 140), rgba(174, 162, 167));
   height: 680px;
}